<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
      <appSettings>
        <add key ="FTPHost" value = "eft-tst.eu.ngahrhosting.com"/>
        <add key ="FTPUser" value = "ext_z05_Payroll_q01"/>
        <add key ="FTPPass" value = "ndyer12!"/>
        <add key ="FTPPort" value = "22"/>
        <add key ="FTPDirectory" value = "/in"/>
      </appSettings>
  
       <connectionStrings>
          <add name="SQLConnection" connectionString="Data Source=ALIATEC;Initial Catalog=V5Pruebas;Integrated Security=True;Pooling=False" />
       </connectionStrings>

</configuration>